{% extends "index.html" %}
{% block content %}
<!--center-->
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-12">
        {% if usr.first_name %}
        <h3>Profile of {{usr.first_name}} </h3>
        {% else %}
        <h3>Profile of {{usr}}</h3>
        {% endif %}
        {% ifequal request.user usr %}
        <h4><a href="{% url 'logout' %}">Log Out</a></h4>
        <h4><a href="{% url 'profile_edit' %}">Edit Profile</a></h4>
        {% endifequal %}
        <p>First Name: {{usr.first_name}}</p>
        <p>Last Name: {{usr.last_name}}</p>
        <p>Email: {{usr.email}}</p>
        <p>Date of Birth: {{profile_usr.date_of_birth}}</p>
        <p>Work/Study: {{profile_usr.work_or_study}}</p>


    </div>
    </div>

 

    <hr>
  </div><!--/center-->
{% endblock %}