{% extends "index.html" %}
{% block content %}  
  <!--center-->
  <div class="col-sm-6">
  {% for story in stories %}
    <div class="row">
      <div class="col-xs-12">
        <h4><a href="{{ story.get_news_absolute_url }}"> {{story.title}} </a></h4>
        <p>Source: <a href="{{ story.source }}"> {{ story.source }} </a></p>
        <p class="pull-right">
        	{% for tag in story.tags.all %}
        	<a href="{% url 'stories_by_tag' tag.slug %}"><span class="label label-default">{{tag}}</span></a>
        	{% endfor %}
        </p>
        <ul class="list-inline"><li><a href="{{ story.get_news_absolute_url }}">{{story.created}}</a></li><li><a href="{{ story.get_news_absolute_url }}"><i class="glyphicon glyphicon-comment"></i>{{story.comments.count}} Comment{{story.comments.count|pluralize}}</a></li><li><a href=""><i class="glyphicon glyphicon-share"></i>{{story.author}}</a></li></ul>
      <hr>
	  </div>
    </div>
  {% endfor %}
    
    {% include "pagination.html" with page=stories %}
    <hr>
  </div><!--/center-->
{% endblock %}