{% extends "index.html" %}
{% load dashboard_tags %}
{% load crispy_forms_tags %}
{% block content %}  
  <!--center-->
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-12">
        <h3><a href="{{ question.get_absolute_url }}"></a> {{story.title}} </h3>
        <p class="pull-right">
          {% for tag in story.tags.all %}
          <a href="{% url 'stories_by_tag' tag.slug %}"><span class="label label-default">{{tag}}</span></a>
          {% endfor %}
        </p>
        <ul class="list-inline"><li><a href="{{ story.get_news_absolute_url }}">{{story.created}}</a></li><li><a href="{{ story.get_news_absolute_url }}"><i class="glyphicon glyphicon-comment"></i>{{story.comments.count}} Comment{{story.comments.count|pluralize}}</a></li><li><a href=""><i class="glyphicon glyphicon-share"></i>{{story.author}}</a></li></ul>
        <p> <a href="{{story.source}}">{{story.source|markdown}} </a></p>
    <hr>
    <h4>Comments</h4>
    {% for comment in comments %}
    <h5>Posted on {{comment.created}} by {{comment.name}}.</h5>
    <p> {{comment.body|linebreaks}}</p>
    <br>
    {% empty %}
    <p>There are no comments yet. Be the first one to comment.</p>
    {% endfor %}
    <h2>Add a new comment</h2>
    <form action="." method="post">
      {{comment_form|crispy}}
      {% csrf_token %}
      <input class="btn btn-default" type="submit" value="Add Comment" />
    </form>
    </div>
    </div>

 

    <hr>
  </div><!--/center-->
{% endblock %}